* {
	font-family: "Open Sans", sans-serif;
}

.card-title {
	font-weight: 500 !important;
	text-transform: capitalize;
}

th {
	text-transform: capitalize;
}

.card-image {
	object-fit: cover;
	width: auto;
	height: 200px
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

table tbody td,
table tbody th {
	height: 0 !important;
}

body {
	overflow-x: hidden
}